* {
  box-sizing: border-box;
}
html {
  
  background-color: red;
}
.App {
  text-align: center;
  /* height: 100vh; */
  /* height: 100%; */
  width: 100%;
  margin: 0;
  border: 2px solid red;
}

/* BACKGROUND IMAGES CLASS */
.character-show-image {
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button, .button {
  font-size: 14pt;
  color: black;
  padding: 3px 8px;
  width: 16ch;
  color: blue;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: -4px 3px 5px black;
  /* border: 1px solid red; */
}
button:hover, .button:hover {
  text-decoration: underline;
}
button:active, .button:active {
  box-shadow: -1px 1px 5px black;
}

.home-page {
  height: 82vh;
}
h1 {
  margin: 0;
  padding: 2vh;
  background-color: rgba(253, 238, 220, .7);
  /* border: 2px solid red; */
}
.home-page button {
  margin: 30vh auto 0;
}



.data-readout {
  min-height: 82vh;
  text-align: left;
}
.data-readout h1 {
  padding: 2vh 2vw;
  /* margin: 2vh 0 10vh; */
  text-align: center;
  text-decoration: underline;
  /* border: 2px solid blue; */
}
.anime-list {
  margin: 0;
  padding: 0 10px ;
  /* border: 2px solid green; */
}
.bounty{
  padding: 30px;
  margin: 5vh 0 7vh;
  background-color: rgb(253, 238, 220);
  border: 1px solid black;
}
.data-readout h2 {
  /* display: inline; */
  /* width: min-content; */
  /* border: 2px solid red; */
  text-decoration: underline;
}
.data-readout p {
  font-size: 16pt;
}
.synopsis {
  line-height: 1.5;
  padding: 10px;
  background-color: rgb(234, 225, 214);
  border-radius: 12px;
}
.header {
  font-size: 17pt;
  margin-left: 20px;
  text-decoration: underline;
}
.title-thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title-thumbnail .title {
  /* flex: 50%; */
  /* display: inline; */
  width: fit-content;
  padding-left: 20px;
  justify-content: center;
}
.title-thumbnail img {
  /* flex: 25%; */
  /* width: 5vw; */
  justify-content: left;
  border: 2px solid aliceblue;
}
.genre-list li, .alias-list li {
  list-style-type: circle;
  margin-bottom: 10px;
  width: max-content;
  font-size: 13pt;
  /* border: 2px solid red; */
}
.poster-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 30px auto 50px;
  border: 2px solid black;
}
.poster-link button {
  width: max-content;
  height: max-content;
}
.poster-link .button {
  width: max-content;
  height: max-content;
}
.reset-readout {
  height: 84vh;
  text-align: center;
  background-color: rgb(253, 238, 220);
}

.search-page {
  justify-self: center;
  justify-content: center;
  justify-items: center;
  height: 82vh;
  /* margin: ?????; */
  border: 2px solid green;
}

.search-page button {
  margin-bottom: 30px;
}

.search-page h1 {
  margin: 0;
  padding: 3vh;
  font-size: 20pt;
}

label {
  font-size: 16pt;
  display: block;
  margin: 20px auto 5px;
}

input {
  font-size: 16pt;
  display: block;
  margin: 10px auto 30px;
}
header {
  min-height: 8vh;
  height:max-content;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 5px;
  background-color: rgba(253, 238, 220, .5);
  /* min-height: 8vh;
  height: 55px; */
  /* width: 100vw; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* border: 2px solid red; */
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px;
  /* border: 2px solid blue; */
}
.banner p {
  width: max-content;
  font-size: 20pt;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
}
.logo {
  /* padding: 5px 10px; */
  padding: 0;
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*  */
  /* background-color: red; */
}
.nav-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.nav-items .button {
  width: max-content;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  height: 55px;
  /* position: absolute; */
  /* left: 0; */
  /* bottom:0; */
  color: black;
  background-color: rgba(253, 238, 220, .7);
  /* border: 2px solid red; */
}
footer p {
  font-size: 16pt;
}

li {
  list-style-type: none;
}

.poster-page {
  height: 84vh;
}

.about {
  height: 84vh;
  text-align: center;
  justify-content: center;

}
.about p {
  /* width: max-content; */
  margin: 0vh auto 20vh;
  padding: 10px 20px;
  background-color: rgba(253, 238, 220, .7);
}