* {
  box-sizing: border-box;
}
html {
  background-color: red;
}
.App {
  text-align: center;
  margin: 0;
  background-color: rgb(253, 238, 220);
  border: 1px solid black;
}

/* BACKGROUND IMAGES CLASS */
.character-show-image {
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center;

}

button, .button {
  font-size: 14pt;
  color: black;
  padding: 3px 8px;
  width: 16ch;
  color: blue;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: -4px 3px 5px black;
  /* border: 1px solid red; */
}
button:hover, .button:hover {
  text-decoration: underline;
}
button:active, .button:active {
  box-shadow: -1px 1px 5px black;
}

.home-page {
  height: 82vh;
}
h1 {
  margin: 0;
  padding: 2vh;
  background-color: rgba(253, 238, 220, .7);
  /* border: 2px solid red; */
}
.home-page button {
  margin: 30vh auto 0;
}



.data-readout {
  min-height: 82vh;
  text-align: left;
}
.data-readout h1 {
  padding: 2vh 2vw;
  text-align: center;
  text-decoration: underline;
  /* border: 2px solid blue; */
}
.anime-list {
  margin: 0;
  padding: 0 10px ;
  /* border: 2px solid green; */
}
.bounty{
  padding: 30px;
  margin: 5vh 0 7vh;
  background-color: rgb(233, 214, 190);
  border: 1px solid black;
}
.data-readout h2 {
  text-decoration: underline;
  /* border: 2px solid red; */
}
.data-readout p {
  font-size: 16pt;
}
.synopsis {
  line-height: 1.5;
  padding: 10px;
  background-color: rgb(234, 225, 214);
  border-radius: 12px;
}
.header {
  font-size: 17pt;
  margin-left: 20px;
  text-decoration: underline;
}
.title-thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title-thumbnail .title {
  width: fit-content;
  padding-left: 20px;
  justify-content: center;
}
.title-thumbnail img {
  justify-content: left;
  box-shadow: -2px 2px 4px black;
  border: 2px solid aliceblue;
}
.genre-list li, .alias-list li {
  list-style-type: circle;
  margin-bottom: 10px;
  width: max-content;
  font-size: 13pt;
  /* border: 2px solid red; */
}
.poster-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin: 30px auto 50px;
  border: 2px solid black;
}
.poster-link button {
  width: max-content;
  height: max-content;
}
.poster-link .button {
  width: max-content;
  height: max-content;
}
.reset-readout {
  height: 82vh;
  text-align: center;
  background-color: rgba(253, 238, 220, .7);
  border: 1px solid red;
}
.reset-readout h1 {
  margin-top: 40vh;
  background: transparent;
}

.search-page {
  justify-self: center;
  justify-content: center;
  justify-items: center;
  height: 82vh;
  /* border: 2px solid green; */
}

.search-page button {
  margin-bottom: 30px;
}

.search-page h1 {
  margin: 0;
  padding: 3vh;
  font-size: 20pt;
}

.search-page label {
  font-size: 16pt;
  display: block;
  padding: 2px 10px 0;
  margin: 20px auto 5px;
  width: max-content;
  /* background-color: rgba(253, 238, 220, .5); */
  text-decoration: underline;
  background-color: rgba(253, 238, 220, .7);
  border-radius: 16px;
}

.search-page input {
  font-size: 16pt;
  display: block;
  margin: 10px auto 30px;
  /* color: black; */
  /* background-color: rgba(253, 238, 220, .7); */
  text-align: center;
}
header {
  min-height: 8vh;
  height:max-content;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 5px;
  background-color: rgba(253, 238, 220, .7);
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px;
  /* border: 2px solid blue; */
}
.banner p {
  width: max-content;
  font-size: 20pt;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0;
}
.logo {
  padding: 0;
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid blue; */
}
.nav-items .button {
  width: max-content;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  height: 55px;
  color: black;
  background-color: rgba(253, 238, 220, .7);
  /* border: 2px solid red; */
}
footer p {
  font-size: 16pt;
}

li {
  list-style-type: none;
}

.poster-page {
  height: 90vh;
}

.about {
  font-size: 16pt;
  height: 82vh;
  text-align: center;
  justify-content: center;
}
.about h1 {
  text-decoration: underline;
}
.about p {
  padding: 10px 20px;
  background-color: rgba(253, 238, 220, .9);
}
.about h2 {
  padding: 10px 20px;
  background-color: rgba(253, 238, 220, .7);
}

.bingo-book {
  height: 82vh;
}
